html
  head
    title Passport-Google (OAuth 2.0) Example
  body
    - if (!user)
      ul
        li 
          a(href='/') Home
        li
          a(href='/login') Log In
    - else
      ul
        li
          a(href='/') Home
        li
          a(href='/account') Account
        li
          a(href='logout') Log Out
    block content
    script
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/client:plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();